@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.pink {
    color: #da5c71;
}

.gray {
    color: #8e8e8e;
}