@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.pink {
    color: #da5c71;
}

.gray {
    color: #8e8e8e;
}

.font-weight {
    font-weight: 700;;
}

.navbar-light .navbar-nav .nav-link {
    color: #da5c71!important;
}

.btn-default  {
    background-color: #da5c71;
    color: white;
}

.btn:hover {
    color: white;
}

.img-bg {
    width: 100%;
    height: auto;
}

.subtitle-margin {
    margin-top: 12px;
}

.mt-title {
    margin-top: 5em;
}

.font-icon {
    font-size: 25px;
}

a:hover {
    color: #da5c71;
}

.padding-section {
    padding: 5em 0;
}

.margin-footer {
    margin: 20px 0;
}

/*768*/

@media (max-width: 768px) {
    .section-one {
        font-size: 25px;
        margin-bottom: 1em;
        margin-top: 1em;
        text-align: center;
    }

    .form-one {
        margin-left: 10px;
    }

    .btn-one {
        position: relative;
        bottom: 8px;
    }

    .no-padding {
        padding: 0 !important;
    }

    .mt-title {
        margin-top: 1em;
    }

    .icons-mb {
        margin-bottom: 40px;
    }

    .wine {
        margin-top: 5em;
    }

    mb-footer {
        margin-bottom: 1em !important;
    }
}