@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.pink {
    color: #da5c71;
}

.gray {
    color: #8e8e8e;
}

.navbar-light .navbar-nav .nav-link {
    color: #8e8e8e !important;
}

.btn-default  {
    background-color: #da5c71;
    color: white;
}

.btn:hover {
    color: white;
}

.img-bg {
    width: 100%;
    height: auto;
}

